In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(database="Chuteiras",user="postgres",password="4080",host="localhost",port="5432")

In [3]:
cur = conn.cursor()
cur.execute("select * FROM Chuteiras")

In [8]:
 for row in cur:
    print(row)
 cur.close()
 conn.close

(1, 'Nike Mercurial Vapor', 'Nike')
(2, 'Adidas Predator', 'Adidas')
(3, 'Puma KING', 'Puma')
(4, 'Puma Evospeed', 'Puma')